[2016-05-23 00:34] jmscott opened #1 "m/akfullfo"

[2016-05-23 18:35] tfausak commented on #1
What is this?

[2016-05-24 02:49] #1 closed, assigned to nobody

[2016-05-24 02:56] jmscott commented on #1
not sure.

[2016-06-04 12:54] danielsamuels opened #2 "Invalid data being returned for TAGame.CarComponent_Boost_TA:ReplicatedBoostAmount"
I've been integrating Octane into Rocket League Replays using [this replay](https://www.rocketleaguereplays.com/replays/065d86a7-4dfa-a7ed-9a3c-159915525bc8/) as my test replay.  My constraint checks are currently failing on values stored within `TAGame.CarComponent_Boost_TA:ReplicatedBoostAmount`. These values should be in the range of 0-255, but I'm seeing numbers in a far broader range. Here's

[2016-06-04 14:17] tfausak commented on #2
Probably a bug! Octane reads the right number of bits, but I haven't done many sanity checks on the actual values it reads.

For the boost amount, [`getByteProperty`](https://github.com/tfausak/octane/blob/af5f53992e632e7ee172f2df4e976268066da74f/library/Octane/Parser.hs#L273) is probably to blame. That delegates to [`getInt8`](https://github.com/tfausak/octane/blob/af5f53992e632e7ee172f2df4e97626

[2016-06-04 14:19] danielsamuels commented on #2
Pyrope just reads the value [as a byte](https://github.com/rocket-league-replays/pyrope/blob/master/pyrope/netstream_property_parsing.py#L56), without any type assumptions.  Perhaps try reading it as unsigned, and if that doesn't work, try just returning the raw byte value (if that's possible)?

[2016-06-04 14:20] danielsamuels commented on #2
Actually, I read the code wrong, it's reading it as [unsigned](https://github.com/rocket-league-replays/pyrope/blob/master/pyrope/netstream_property_parsing.py#L141).

[2016-06-04 14:51] #2 closed, assigned to tfausak

[2016-06-04 16:17] tfausak opened #4 "Improve memory usage"
Octane uses more than 20 MB of memory to parse [a 334 KB replay](https://www.rocketleaguereplays.com/replays/065d86a7-4dfa-a7ed-9a3c-159915525bc8/). That seems excessive.

![screen shot 2016-06-04 at 11 16 36 am](https://cloud.githubusercontent.com/assets/408753/15800686/d399043c-2a45-11e6-9fb8-81a8b45204ae.png)

[2016-06-04 16:43] #4 closed, assigned to tfausak

[2016-06-05 01:38] danielsamuels opened #6 "Unprocessable replays"
I've been running Octane against around half of the replays which have been uploaded to Rocket League Replays tonight. Of the ~26,000 I've tested, 105 (0.4%) came back with errors of some variety.  I've collated them below, grouped by the exception message.

`>>> octane-0.6.2-osx: don't know how to read property "Engine.Actor:Owner"`
- https://www.rocketleaguereplays.com/replays/5390/
- https://ww

[2016-06-05 01:41] tfausak commented on #6
Wow, this is excellent! Thanks for the report. I'll start trying to figure these out.

[2016-06-05 02:48] tfausak commented on #6
Does PyRope parse these replays correctly?

[2016-06-05 10:34] danielsamuels commented on #6
From testing the first couple of replays in each block, the answer appears to be 'no'.

[2016-06-07 02:53] tfausak commented on #6
#7 fixed some of these, but not all.

[2016-06-07 03:41] tfausak commented on #6
Of the replays that I can't parse, _most_ of them are seasonal. I assume the oddball team names, logos, and colors are replicated. (Edit: But I can parse _some_ seasonal replays, so that doesn't really explain it.)

However some of them aren't seasonal:

| ID | v1 | v2 | Date |
| --- | --- | --- | --- |
| [f926e80e4d8ed9f1fb5c7bb0f6adef63](https://www.rocketleaguereplays.com/replays/f926e80e-4d8e-

[2016-06-07 12:52] tfausak commented on #6
For those replays, my current best guess is that I'm parsing `Engine.Actor:RelativeRotation` incorrectly. The last or second-to-last property read before failing is always that.

[code]

[2016-06-07 12:59] danielsamuels commented on #6
Looking at the [Unreal Source code](https://github.com/EpicGames/UnrealEngine/blob/ab237f46dc0eee40263acbacbe938312eb0dffbb/Engine/Source/Runtime/Core/Public/Math/Rotator.h#L11) it looks like it's just a triple float, but I know from my experience on PyRope that it never seemed to work.  I'm not entirely sure what else it would be.

[2016-06-07 13:02] danielsamuels commented on #6
Looking at an older commit, it looks like I ended up [reading a boolean then the 3 floats](https://github.com/Galile0/pyrope/pull/13/commits/31ea902294362205fa5e6ac9323af708005f41e3). Perhaps that might be worth a try?

[2016-06-07 13:49] tfausak commented on #6
Thanks for the tip! Reading a boolean before the relative rotation fixes one of the replays (91f…) but not the rest.

I also tried reading the flag, then using that to decide if I should read the vector or not. That worked for two replays (the one above and 589…), but not the rest.

[2016-06-07 14:04] tfausak commented on #6
Looking at [the rotator file](https://github.com/EpicGames/UnrealEngine/blob/master/Engine/Source/Runtime/Core/Public/Math/Rotator.h), there are few serialization methods: `SerializeCompressed`, `SerializeCompressedShort`, and `NetSerialize`. So maybe it is serialized differently depending on something about the values in it?

Similarly there are a couple vector serialization methods in [the net s

[2016-06-07 18:46] danielsamuels commented on #6
I've been doing some more research.  According to UE Explorer, `Actor.RelativeRotation` is defined like this: `const Rotator RelativeRotation`. `Rotator` is defined as being `Core.Object.Rotator`.  According to [this page](http://www.codekisk.com/unreal/ut3/scriptref/core/object.html#_Rotator), Rotator (in UT3 at least) is a struct of three _integers_ - not floats.  Remember that Rocket League is

[2016-06-07 23:13] tfausak commented on #6
Interesting! I'll try parsing rotators as 3 integers. Hopefully that works.

One the topic of seasonal replays, the team replication information looks like this:

[code]

I'm not sure what the game event property means, but the others are straightforward. Looks like the colors are not part of the team information. I think the colors for the stadium and scoreboard are implied from the logo choice.

[2016-06-08 00:09] tfausak commented on #6
Reading 32-bit integers parses 91f... and 589... correctly, but none of the others. Parsing them as 32-bit compressed integers did the same thing. Same with parsing them as 8-bit integers. It doesn't really make sense that I can parse an arbitrary number of bits and have the whole thing succeed.

Maybe there's a reference to another actor in there? This is a _relative_ rotation, after all. Maybe y

[2016-06-08 04:03] tfausak opened #8 "Map all the loadouts"
In 78560751656704831caaa634e19a7826462434e7, I started working on converting the IDs in loadouts (like `21`) to descriptive strings (like `"Backfire"`). This is pretty tedious but fortunately goes pretty quick. I have a couple tricks to speed things up:
1. Quickly create replays by setting up 1v1 exhibition matches with no bots. Set the maximum number of goals to 1. And disable goal reset, also kn

[2016-06-08 04:05] tfausak commented on #6
I'm going to stop looking at this for now. I would love to be able to parse every replay, but I'm not having much luck figuring this out. Considering this is a tiny fraction of all replays (less than 100 out of more than 25,000), it's safe to say it doesn't happen that often.

Maybe @jjbott can figure it out :smiley:

[2016-06-08 15:39] phillijw commented on #6
@jjbott is a somewhat of a superstar. He's got this

[2016-06-08 15:41] jjbott commented on #6
lol, shush you. :P

[2016-06-08 16:17] rustyfausak commented on #6
[This wiki page about rotators in ue3](https://wiki.beyondunreal.com/Legacy:Rotator) says that the values range from 0-65536. Have you tried reading 16 bits for each rotator part (pitch, yaw, roll)?

[2016-06-08 16:20] rustyfausak commented on #6
Actually further reading that wiki page:

and

[2016-06-08 16:23] jjbott commented on #6
Shot in the dark, have any of the weird ones been loaded into RL to see if they actually work? Its possible a small number are actually corrupt. That's wishful thinking though. I'd check but I'm at work and _definitely_ not parsing RL replays, no sir.

Also, every time I've run across "Engine.Actor:RelativeRotation" it meant that the parser was lost and reading garbage. So it might be a red herrin

[2016-06-08 16:30] tfausak commented on #6
It may be reading garbage by that point. From what I remember, most of the previous properties looked like they made sense. But maybe I wasn't looking far enough back.

Loading the replays into Rocket League is a good sanity check. I would be surprised if they were actually corrupt, but who knows!

Reading 1 or 9 bits for each component is how [the rotation is serialized in the class initializatio

[2016-06-09 01:24] tfausak commented on #8
I finished everything except the antennas. There are a _ton_ of them! I still need to do basically all the countries and video games. Otherwise this is pretty much done.

[2016-06-09 02:03] tfausak commented on #6
Rocket League can load and view all 7 of those replays without issue. I didn't notice any commonalities between them.

[2016-06-09 02:51] tfausak commented on #6
Looking at replay 387..., these are the last 3 frames it successfully parsed:

[code]

That looks ok in isolation, but when you compare it against literally every other replication for actor 18...

[code]

Looks like @jjbott may be right: The parser is just reading garbage. It thinks it should be reading this hidden boolean property, but really it should be reading the team's score.

The other 6 r

[2016-06-09 04:11] jjbott commented on #6
For the 7 replays in https://github.com/tfausak/octane/issues/6#issuecomment-224163942 , I had problems with at least some of them, but after my commit this morning they're all fine. The main issue was that TAGame.Team_TA isn't the right class to use for teams. Amazing how often it works though.

I havent downloaded all the replays yet, but so far I'm only having trouble with 3 of them:

Found tha

[2016-06-09 04:57] rustyfausak commented on #6
i've thought this many times after finding random huge bugs in parsing replays..

[2016-06-09 12:39] tfausak commented on #6
Great find @jjbott! Making those changes to Octane fixed the parsing of those 7 replays. At least in terms of reading the correct number of bits.

[2016-06-09 13:26] tfausak commented on #6
@jjbott: For replay FDC79DA84DD463D4BCCE6B892829AC88, you need special handling for the party leader property. This is how Octane parses that replication:

[code]

I fixed this in 8a068f156e7a3c0d8693ad59be99a4ba6312f324. If you're reading a party leader and the system ID (the first integer) is 0, then you're done. There's no more information to read. You can also see [how PyRope does it](https://

[2016-06-09 13:37] tfausak commented on #8
I'm going to go ahead and close this. I'll get some antennas as I go, but for the time being I'm perfectly ok with Octane returning `"Unknown antenna 123"` for them.

[2016-06-09 13:37] #8 closed, assigned to tfausak

[2016-06-09 13:46] jjbott commented on #6
@tfausak Huh neat. That was actually one of the things I was thinking about (stopping after reading a 0), but again, the existing code has never failed before so I trusted it

[2016-06-09 14:17] #6 closed, assigned to tfausak

[2016-06-09 14:18] tfausak commented on #6
I'm pretty sure I figured it out. I was able to parse all of the reported bad replays without messing up any good replays. The problem was that the `Archetypes.GameEvent.GameEvent_Season:CarArchetype` object looks like it should map to the `TAGame.Car_Season_TA` class, but it actually maps to the `TAGame.Car_TA` class.

[2016-06-09 14:33] jjbott commented on #6
@tfausak Nice! Yeah that was on my list as well, but the RL code definitely seems to suggest that TAGame.Car_Season_TA is correct. It parsed so badly that it had to be wrong...

**Completely** unrelated...  Not sure if anyone is interested in trying to standardize JSON output, but I've put a lot of work into tightening up JSON output over the last 6 months or so and mine looks completely different

[2016-06-09 16:14] tfausak opened #9 "Make JSON better"
https://github.com/tfausak/octane/issues/6#issuecomment-224913489

[2016-06-09 16:14] tfausak commented on #6
Your JSON looks way better. Mine is pretty much the minimum required to debug the data at this point.

:point_right: #9

[2016-06-10 15:31] tfausak opened #10 "Compute CRC"
This is a pipe dream.

I would love to be able to check the CRC. I have not had any luck. See [this merge request](https://gitlab.com/taylorfausak/octane/merge_requests/7) from the old Octane repository for an attempt.

As far as I know, nobody has been able to compute the CRC. [According to Cone](http://www.psyonix.com/forum/viewtopic.php?f=33&t=13656#p232929):

That seems wrong, though. There ar

[2016-06-10 17:07] tfausak commented on #9
I feel like we should come to some consensus about what the JSON should look like. @jjbott has already done a lot of work on the output format of his parser. I know @danielsamuels and @rustyfausak are using the output of Octane, so they may have some input about what they'd like to see.

I have a rough sketch of what I'd like the JSON to look like. But first, a couple high-level thoughts:
- A lot

[2016-06-10 17:36] rustyfausak commented on #9
I wonder if including the type in the properties section is better:

`"Engine.PlayerReplicationInfo:Ping": { "type": "int", "value": 6 }, ..`

This would allow us to quickly build a majority of the properties without having to know that "Ping" is an int. Then again, a lot of the properties are custom data structures that we have to parse anyways.

What about stuff like `TAGame.RBActor_TA:Replicate

[2016-06-10 18:39] tfausak commented on #9
You're right, I think we should include the types of the properties. Otherwise you'll need your own lookup table to make sense of it. I know of a few property types:
- Boolean: either `true` or `false`.
- Byte: just an integer. `123`
- Camera settings: an object with float values and these keys: `FOV`, `Height`, `Angle`, `Distance`, `Stiffness`, `SwivelSpeed`. `{ "FOV": 110, ...}`
- Demolition: no

[2016-06-10 19:25] danielsamuels commented on #9
Couple of thoughts from my perspective:
- Anything that makes the output smaller, or quicker to process is good.
- Any data that will never be used being removed is good.
- No need for frame number in the frame itself, you can get that from the item's index within the context of the network stream.
- I might be using the delta values in the near future, so I'd like to keep them.
- I'm not a fan of

[2016-06-10 19:25] jjbott commented on #9
I had different goals in mind when I did the JSON output, partially due to the use cases I had in mind. These are my personal opinions on the matter, feel free to ignore them. :)

One big difference is that I never wanted to add more info to the JSON that what was in the replay. Sure TeamColorId X is some #RRGGBB and HatProductId X is some kind of awesome hat, but my parser doesn't care. In my min

[2016-06-10 19:41] rustyfausak commented on #9
off topic - i did some work on getting a 3d view with rigid body orientations so i can do collision detection.. here's an enormous gif to showcase:

![game](https://cloud.githubusercontent.com/assets/1559512/15976584/57befca8-2f19-11e6-98b8-c2d3b8481d5c.gif)

[2016-06-10 19:43] danielsamuels commented on #9
If you don't know about it already, there's a BallHit event which you might find useful for that. I'm making use of it for a new RLR feature I'm building.

[2016-06-10 19:44] jjbott commented on #9
I should also say that I like some of the thoughts above. Looking at a random frame, my JSON currently looks like this:

[code]

I could definitely get behind shortening it down to something like this (converted by hand, so probably wrong):

[code]

The X/Y/Zs are just extra noise (and half wrong for rotations). Using the ids and times as a key saves space and makes logical sense I think.

I'm als

[2016-06-10 19:46] rustyfausak commented on #9
@danielsamuels are you talking about `TAGame.Ball_TA:HitTeamNum`? That only flips between the teams and won't show e.g. multiple consecutive hits

[2016-06-10 19:47] danielsamuels commented on #9
Yeah, gzip makes the value of that sort of thing fairly moot.

[2016-06-10 19:47] rustyfausak commented on #9
what's the point of making the JSON filesize small? isn't the use case piping the output of the replay parser into a replay analyzer? you can read a json using a stream so no need to put the whole thing in memory..

[2016-06-10 19:48] danielsamuels commented on #9
@rustyfausak: I was, is that merely for controlling the ball's trail color then?

[2016-06-10 19:48] jjbott commented on #9
I sort of figured. My dumb misconfigured web server refuses to gzip though, which is why I was thinking about it. :)

[2016-06-10 19:48] rustyfausak commented on #9
@danielsamuels  yep, that's what i think

[2016-06-10 19:50] jjbott commented on #9
My personal use case is loading stuff into http://bunkmonkey.com:97/Viewer2.htm . I don't want to have to send a 30MB json file to the client!  Gzip takes care of a lot of that, but every bit helps

[2016-06-10 20:04] tfausak commented on #9
I don't think we should focus on reducing the file size of the JSON at the expense of making it easy to understand. Compression is amazing!

[code]

[2016-06-10 20:09] jjbott commented on #9
Oh gosh. I hope those two files aren't from the same replay, and the jjbott version isn't from my parser. Or I'll make a sad face since mine is so huge. :P

[2016-06-10 20:12] rustyfausak commented on #9
@jjbott that replay viewer is awesome, you got interpolation looking nice - threejs doesn't look like it has collision checking but that seems like something you could figure out pretty easy.

[2016-06-10 20:17] tfausak commented on #9
And to actually address some of the comments...

I like including it because it makes eyeballing things much easier. And you don't have to `enumerate` the list of frames just to get the number. And if you're looking at the JSON and see a mark associated with a frame, you can just search for that number to find it.

I think that's fine. The replay format has to be backwards compatible, so the chanc

[2016-06-10 20:18] jjbott commented on #9
@rustyfausak Yeah that's sort of on my list. I'm over my head on 3d stuff (hell look at those "cars") so even though in theory I know where each car is, I.... don't know where each car is. :)

Like, I want to emit some crummy particles when boost is on, but I don't know where the back of each car is, because i don't know what I'm doing. My attempts at turning the front tires to match the steering

[2016-06-11 21:03] #9 closed, assigned to tfausak

[2016-06-12 13:59] danielsamuels commented on #8
While I appreciate the amount of effort it takes to map these values, if I'm honest, I'm not at all a fan of this change. I'd much rather the parser returned the raw data, rather than trying to be clever and map the values itself. I currently maintain a lookup table on my end and convert the integers to strings, so it's an extremely trivial operation as a consumer. There's also a couple of benefit

[2016-06-12 14:14] tfausak commented on #8
I could provide both. That's probably a good sanity check anyway.

I agree that converting the integers into strings is conceptually simple, but it's a lot of data for consumers to discover themselves. It takes a while to map all the IDs, so why make everyone repeat that effort?

Are you storing Octane's output directly somewhere? I'd imagine it would be transient.

[2016-06-12 14:19] danielsamuels commented on #8
I don't see this being any different to knowing Team 0 is Blue, 1 is Orange, knowing which rotation value is Yaw / Pitch / Roll. There's a whole load of stuff which requires specific knowledge of how things map, and even if you provide the mapped value, I'd definitely like to see the raw data too.

Only in memory during the parsing process.

Another mapping that I'm seeing being done is the platfo

[2016-06-12 14:30] tfausak commented on #8
Hmm, I see. For what it's worth, I left the team numbers alone because "blue" and "orange" don't always make sense. The colors in seasonal matches can be different.

You can see everything that I map in [`getPropertyValue`](https://github.com/tfausak/octane/blob/0.8.0/library/Octane/FullReplay.hs#L326). How do you feel about camera settings, for instance? I give those descriptive keys like "FOV" i

[2016-06-12 14:33] rustyfausak commented on #8
really there is no difference between "23" and "octane" besides file size. and since the file is being compressed and the properties are not replicated when they don't change, we're talking about a really marginal amount of data here. i think it makes total sense to send "octane".

[2016-06-12 14:38] danielsamuels commented on #8
I can't remember if they were already coming through as a dictionary or not.  But as with everything, I'd definitely prefer the raw data.

When you're looking a single replays, sure. But when you're looking at 50,000+ items it soon adds up.

Like I mentioned before, some of the values are _incorrect_, so I have no way of knowing whether the information I'm getting is correct or not. Having the raw

[2016-06-12 14:46] tfausak opened #12 "Include raw values with mapped values"
https://github.com/tfausak/octane/issues/8#issuecomment-225438101

[2016-06-12 14:59] danielsamuels commented on #10
Another good reason for computing the CRC is being able to validate their authenticity.  If a player learned how to manipulate a replay, they could potentially modify the 'Team0Score' value to be whatever they wanted. Not an issue for RLR, as my display data is based on the network data, but still a good way to see if someone is attempting to cheat.

[2016-06-12 16:30] jjbott commented on #8
As far as "It takes a while to map all the IDs", it took me about 10 minutes to generate this [dump of mostly everything](http://pastebin.com/6CWAm5ES) from the RL files, and most of that was converting raw data to JSON.

[2016-06-12 16:31] danielsamuels commented on #8
That's awesome, nice work! Do you mind if I make use of that data?

[2016-06-12 16:38] tfausak commented on #8
I can't help but notice that Octane correctly mapped Backfire's ID (21, not 11) to its name. RLR shows replays with Backfire as "Unknown". For example, I just made [this replay](https://www.rocketleaguereplays.com/replays/9a06783f-4fea-7aff-3d82-98a3e5a412f5/) with Backfire.

In my mind, that's a good argument for the parser doing the mapping. It's easy to get it wrong.

And @jjbott, that list is

[2016-06-12 16:39] danielsamuels commented on #8
The difference is that I can go to the entry in my database and update it, and that propagates across 56,800 replays instantly, without any additional work required.

[2016-06-12 16:46] jjbott commented on #8
Go ahead and use that data, it's not mine! :) It's nearly in that exact format in the upk files if you've figured out how to poke around in them

[2016-06-12 16:50] danielsamuels commented on #8
I've just noticed that version 0.7.0 seems to be doing the mapping from IDs already, that's why the output is broken on the website - it's expecting integer values and getting strings.

[2016-06-12 16:51] tfausak commented on #8
As expected. Read the [release notes](https://github.com/tfausak/octane/releases/tag/0.7.0).

[2016-06-12 16:52] danielsamuels commented on #8
Yeah, that's my fault in not reading them.

[2016-06-12 19:21] #12 closed, assigned to tfausak

[2016-06-14 01:34] tfausak commented on #10
If what @jjbott [said here](http://www.psyonix.com/forum/viewtopic.php?f=33&t=13656&start=140#p271529) is accurate, then [this](https://github.com/EpicGames/UnrealEngine/blob/d727689444e4fbd689f5e7d924cd0c5b869fccea/Engine/Source/Runtime/Core/Private/Misc/Crc.cpp#L32-L47) is the CRC table we should be using. And [this](https://github.com/EpicGames/UnrealEngine/blob/d727689444e4fbd689f5e7d924cd0c5b

[2016-06-14 01:45] jjbott commented on #10
I'm currently doing a brazilion tests to try crack at least one of the crc checks. I'm pretty sure that nothing past the "remaning byte count" (just before what is probably crc #2 and the levels) is used in the first crc check. That still leaves a lot of variables though. Like, is there a seed? Multiple seeds? Are _all_ of the initial sections used? In order? Any other data added in the mix? Does

[2016-06-14 02:18] tfausak commented on #10
My tests were not successful. I tried the following pre-canned functions:
- [Data.Digest.CRC32.crc32](https://s3.amazonaws.com/haddock.stackage.org/lts-6.3/digest-0.0.1.2/Data-Digest-CRC32.html#v:crc32)
- [Data.Hash.CRC32.GZip.calc_crc32](https://s3.amazonaws.com/haddock.stackage.org/lts-6.3/MissingH-1.3.0.2/Data-Hash-CRC32-GZip.html#v:calc_crc32)
- [Data.Digest.CRC32.digest](https://hackage.haske

[2016-06-14 04:44] jjbott commented on #10
The CRC tables I found in the exe aren't the ones marked deprecated, [they're these](https://github.com/EpicGames/UnrealEngine/blob/d727689444e4fbd689f5e7d924cd0c5b869fccea/Engine/Source/Runtime/Core/Private/Misc/Crc.cpp#L180). They start at 0x0148965C in the exe if anyone wants to double check.

But, I now have 2 reasons to suspect that that's not the crc algorithm to use. (EDIT: I should say, th

[2016-06-14 12:29] tfausak commented on #10
You used to be able to save Rocket League replays even if the match didn't start. [This replay](https://www.rocketleaguereplays.com/replays/f811c1d2-4888-015e-23b5-98ad8628c742/) is only 605 bytes, for example. If there are in fact two CRCs in the file, the second one is `0xf59a8913` and the second section is 40 null bytes. It may be possible to work backwards from that, but it seems tedious.

[2016-06-14 13:24] tfausak commented on #10
I'm not sure if this helps either, but you can drop that 605 byte replay into your `Demos` folder and edit the name through Rocket League. That recalculates the CRC and saves the replay.

[code]

Also, I now have some compelling proof that there are two CRCs. I took that replay, zeroed out the _second_ CRC, and saved it back to disk. I was still able to view it on the list of replays in Rocket Lea

[2016-06-14 13:48] tfausak commented on #10
If you change the CRC for a replay that actually has data in it and try to load it, you'll end up in the replay viewer with this dialog:

![load-failure](https://cloud.githubusercontent.com/assets/408753/16045095/9df9d94a-320c-11e6-9c11-e2d7e140bba0.jpg)

[2016-06-14 13:49] jjbott commented on #10
Yeah, that's what I meant by "I'm pretty sure that nothing past the 'remaning byte count" (just before what is probably crc #2 and the levels) is used in the first crc check.". I've been corrupting replays all over the place, and the list of replays is happy as long as you don't touch the first section.

[2016-06-14 16:43] tfausak opened #14 "Released binaries are not executable"
https://github.com/rocket-league-replays/rocket-league-replays/commit/642a89cb6ae9d68f7faca45277f76c1f2163ef4c

[2016-06-15 00:42] #14 closed, assigned to tfausak

[2016-06-15 04:05] tfausak commented on #10
@rustyfausak suggested that Rocket League could be using some other hash function and incorrectly calling it a "CRC". Unfortunately most of the interesting candidates (like MD5 and SHA1) are ruled out for having too many bits. But it's possible we're barking up the wrong tree with an actual CRC-32. It could be something on this list instead: https://en.wikipedia.org/wiki/List_of_hash_functions

[2016-06-16 15:34] tfausak commented on #10
@hadronzoo recommended this [via Twitter](https://twitter.com/hadronzoo/status/743429705450196992): https://www.cosc.canterbury.ac.nz/greg.ewing/essays/CRC-Reverse-Engineering.html

[2016-06-17 03:11] tfausak commented on #10
I was all ready to make a breakthrough, but it looks like that's not in the cards. Using the replay I talked about above, I repeatedly saved it with different names and read the CRC. The results were not encouraging.

| Code point | Character | CRC |
| --- | --- | --- |
| `0x0100` | Ā | `0x6cd654d1` |
| `0x0101` | ā | `0x5607f115` |
| `0x0102` | Ă | `0x19751f59` |
| `0x0104` | Ą | `0x8790c3c1` |
|

[2016-06-17 15:00] tfausak commented on #10
I fed all 9 of those replays into [CRC RevEng](http://reveng.sourceforge.net) like so:

[code]

It spit out a single match so far:

[code]

The values are described by [A Parameterized Model For CRC Algorithms](http://www.repairfaq.org/filipg/LINK/F_crc_v34.html#CRCV_005). Here's a table that should be easier to make sense of:

| Name | Value |
| --- | --- |
| Width | 32 |
| Poly | 0x04c11db7 |
|

[2016-06-18 00:26] tfausak commented on #10
I solved it! See #16.

I'm running tests against every replay I have right now. So far it all works. I ended up with the following CRC parameters (I think):

| Name | Value |
| --- | --- |
| Width | 32 bits |
| Poly | `0x04c11db7` |
| Init | `0x10340dfe` |
| RefIn | no |
| RefOut | no |
| XorOut | `0xffffffff` |

It seems like a pretty typical CRC32 with the exception that the whole thing is compl

[2016-06-18 02:02] jjbott commented on #10
Aw dang, I solved it too, but was hoping to announce it with a sufficiently screwed up replay that works in RL. I didnt get that far yet, closest was this test: https://www.rocketleaguereplays.com/replays/37918780-4c2f-676e-a947-229bc9dd678f/ (One of the properties has "ZorMankey" instead of "ZorMonkey")

[2016-06-18 02:06] jjbott commented on #10
BTW - I pulled my code [straight from Rocket League](http://imgur.com/y2Kh81A). It uses a seed of 0xEFCBF201, and a boring normal crc algorithm.

[2016-06-18 02:36] jjbott commented on #10
BTW BTW - nice work. :) Interesting that we went about it two completely different ways and came up with two slightly different (but equivalent) solutions. Yours would probably be slightly easier if you XOR your seed with 0xFFFFFFFF up front. Then you don't need the XOR at the end, and also our seeds will match. :)

[2016-06-18 13:55] #10 closed, assigned to tfausak

[2016-06-18 15:05] tfausak commented on #10
Thanks! You did great work too! It is interesting that we ended up with basically the same thing at basically the same time using completely different methods.

I just tried using your seed (`0xefcbf201`) and dropping the final XOR, but it gave different results. Then I realized your algorithm complements on both the way in and the way out, so I changed mine to do that.

[2016-06-19 16:51] danielsamuels opened #18 "Player names being corrupted (sometimes)"
I've been working on a new RLR feature using 0.10.0 and I've been seeing some weirdness around [this replay](https://www.rocketleaguereplays.com/replays/5a093209-454e-165f-d629-71ac44c92c48/).  Both players have simple UTF-8 names, but I'm seeing data like this:

[code]

[code]

The same names in the metadata are appearing correctly, but in the frames they're garbled.

[2016-06-19 16:54] danielsamuels opened #19 "Feature request: Accept URLs as inputs"
At the moment I have to do a lot of annoying wgets / temp file storing / file cleanup to pass my replay files into Octane (I have worker servers which run the executables, the files are on S3), so it would be really great if I could just pass in the URL for the files.

[2016-06-19 17:01] tfausak commented on #18
I must be parsing text incorrectly in the frames. I'm doing it right in the metadata, which is why their names are okay there. I'll bet the bits have to be flipped just like everything else.

[2016-06-19 17:05] tfausak commented on #19
Seems reasonable. This would also make it easier to see what Octane spits out for any given replay. All you'd need to do is `octane media.rocketleaguereplays.com/...`.

[2016-06-19 17:37] #18 closed, assigned to tfausak

[2016-06-19 18:10] #19 closed, assigned to tfausak

[2016-06-19 21:00] tfausak opened #22 "Generate a class property map"
In order to convert my `Replay` type into a `ReplayWithFrames`, I need to generate a class property map from some frames. From there I need to further deconstruct it into the objects, names, classes, and cache. Basically I need to implement [these lines](https://github.com/tfausak/octane/blob/a72f2f4cefe66577af304fe5d1a534bb1778049d/library/Octane/Type/Replay.hs#L164-L167).

[2016-06-19 21:02] tfausak opened #23 "Convert frames into a stream"
In order to actually write replays, I need to be able to convert a list of frames into the network stream. Generating a valid stream will require #22. A lot of the grunt work can be done without that, though. Basically I need to implement [this line](https://github.com/tfausak/octane/blob/a72f2f4cefe66577af304fe5d1a534bb1778049d/library/Octane/Type/ReplayWithFrames.hs#L95).

[2016-06-20 22:07] tfausak opened #25 "Support Neo Tokyo patch"
The Neo Tokyo patch will be released today: http://www.rocketleaguegame.com/news/2016/06/patch-notes-v1-19-title-update-7/

I'm not sure which changes will need to happen, but I imagine at least:
- [x] Add new levels. #27.
- [x] Add new antennas, bodies, decals, and rocket trails. #32
- [x] Investigate item rarities.
- [x] Investigate item attributes (painted and certified). #34

[2016-06-21 00:55] tfausak opened #26 "Cannot parse new replays"
This is a little more pressing than #25. Replays made with the latest patched cannot be parsed at all.

[code]

[2016-06-21 01:23] tfausak commented on #26
I added some logging and tried to parse one of the new replays. I didn't even make it through the first frame.

[code]

The metadata all looks reasonable. And the properties make sense. The server name isn't garbage, so it was probably parsing correctly at that point. That means the reservations property changed somehow.

[2016-06-21 01:24] tfausak commented on #26
Comparing old reservations to new ones reveals that they probably didn't change.

[code]

That means I'm probably missing some class properties somewhere.

[2016-06-21 02:44] tfausak commented on #26
Wait, that doesn't make sense unless generating the class property map changed. That wouldn't make a whole lot of sense.

The problem here is that it reads a `0` signifying that there are no more properties even though it seems like it should be reading a `1`.

Regardless, here is a replay to test with: [F98A54A84116235F785D128D2484DF07.zip](https://github.com/tfausak/octane/files/324692/F98A54A84

[2016-06-21 03:00] tfausak commented on #26
Reading and discarding 6 bits gets the parser back on track. As far as I can tell, those bits are always 0 (i.e., `0b000000`). That works for all 21 new replays I have.

This is annoying for two reasons:
1. I don't know what these bits mean. Are they _always_ 0? What happens when they aren't?
2. Nothing in the property itself signals that these bits are there. I'll have to change my parser to be a

[2016-06-21 12:36] tfausak commented on #26
I compared some of the metadata values between old and new replay files.

| jq | Pre patch | Post patch |
| --- | --- | --- |
| .Metadata.BuildID.Value | 636774701 | 186761134 |
| .Metadata.BuildVersion.Value | 160513.59355.132594 | 160602.63280.133560 |
| .Metadata.Changelist.Value | 132594 | 133560 |
| .Metadata.GameVersion.Value | 10 | 12 |
| .Metadata.ReplayVersion.Value | 2 | 2 |
| .Version |

[2016-06-21 15:26] tfausak commented on #25
@jjbott: Can you provide another data dump like you did [here](https://github.com/tfausak/octane/issues/8#issuecomment-225446524)? Or, better yet, can you teach me how to make one myself? There are a lot of new items and it would take me a long time to map them manually.

[2016-06-21 19:22] #26 closed, assigned to tfausak

[2016-06-21 20:17] tfausak opened #28 "Move data tables into JSON files"
There's no reason for them to be in Haskell.

[2016-06-22 13:16] jjbott commented on #25
Hi! I'm catching up, I was on vacation for a few days.

Okay! So, first you need the UPK decryptor linked here: https://www.reddit.com/r/RocketLeague/comments/3v9d10/rocket_league_upk_decryptor_datamined_car_hitbox/ and also UE Explorer from http://eliotvu.com/portfolio/view/21/ue-explorer .

Then decrypt TAGame.upk and open it in UE Explorer. In the Objects tab, in the Content sub-tab, find Produ

[2016-06-22 15:20] tfausak commented on #25
Wow, that is awesome! Thank you!

[2016-06-22 22:46] danielsamuels opened #30 "Feature request: Decode PSN usernames"
It appears that PSN usernames are being output in their encoded format, which is extremely trivial to decode.  Given the following output from [this replay](https://www.rocketleaguereplays.com/replays/a9e57968-4164-7ccd-1f98-63badac57a68/):

[code]

Take the first 32 characters of the `Remote` key and hex decode them:

`476c6f7773426c756500000000000000` -> GlowsBlue

[2016-06-23 02:00] #28 closed, assigned to tfausak

[2016-06-23 02:01] tfausak commented on #30
Sounds easy enough! I'll look at updating [the parser](https://github.com/tfausak/octane/blob/dd9ca40cfa3b5e676be914c6250ae3f193662b75/library/Octane/Utility/Parser.hs#L576-L585) to handle this.

[2016-06-23 14:24] tfausak opened #33 "Cannot parse some Neo Tokyo replays"
I found 9 replays that I cannot parse. They all fail with basically the same message:

[code]

[bad.zip](https://github.com/tfausak/octane/files/330143/bad.zip)

[2016-06-23 15:16] #30 closed, assigned to tfausak

[2016-06-24 01:16] tfausak commented on #33
This is definitely a problem with the online client loadout.

[code]

It seems similar to https://github.com/tfausak/octane/pull/27#issuecomment-227438658. My current guess is that the client loadout online is responsible for all the new item properties, or at least the new colors. Since nobody (as far as I know) has actually used the client loadout online values for anything, it's definitely poss

[2016-06-24 19:38] tfausak commented on #33
I tallied all of the client loadout online values for the replays on my machine.

[code]

[2016-06-24 20:59] tfausak commented on #33
There is definitely some type of predictable structure going on there. I changed the parser to parse online loadouts one byte at a time. These are the results from the bad replays:

[code]

I'm not sure why two of the red Homburg values are different than the rest.

Compare those to the value for the blue Trahere wheels:

[code]

And a typical value with no custom colors:

[code]

This would be a

[2016-06-27 14:41] #33 closed, assigned to tfausak

[2016-06-27 18:49] #25 closed, assigned to tfausak

[2016-06-27 22:15] bergmark opened #35 "doctest build failure"
Got this while building stackage nightly:

[code]

This occurs because doctest simply looks for installed modules, not respecting dependencies in your cabal file. It's an issue during the stackage build because then both of the packages mentioned are in scope. I will add the test case as an expected failure in the stackage build, if you want stackage to be able to run the tests the only solution I

[2016-06-28 02:17] #35 closed, assigned to tfausak

[2016-06-29 16:51] tfausak opened #37 "Misinterpreting some class property maps"
[28D78B6A46EB7FD7F2AF5A9993F40395.zip](https://github.com/tfausak/octane/files/339760/28D78B6A46EB7FD7F2AF5A9993F40395.zip)

[code]

[2016-06-29 17:34] tfausak commented on #37
I loaded the replay into Rocket League. Nothing unusual happens. One of the players is using one of the new cars (Aftershock), but that shouldn't cause any problems.

Octane fails parsing in the first frame. The replications go as normal with 37 new actors, then a handful of updates. One of the updates must read the wrong number of bits because then it tries to destroy actor 664, which obviously d

[2016-06-29 17:36] tfausak commented on #37
It must be reading the wrong property ID. Here's an excerpt from some other random replay that works:

[code]

[2016-06-29 17:46] tfausak commented on #37
The class property map must be wrong.

[code]

Note that properties 21 through 23 come from `Engine.TeamInfo` instead of `TAGame.CarComponent_TA`.

[2016-06-29 18:28] tfausak commented on #37
That class has ID 205. My class property map thinks it has subclasses 96, 92, 91, 22, and 0. Class 96 is where the `Engine.TeamInfo` properties come from. The properties I want come from class 26.

The other class (`TAGame.CarComponent_FlipCar_TA`, 34) does indeed have class 26 as a parent.

Here is the raw class cache:

| Class ID | Cache ID | Parent cache ID |
| --- | --- | --- |
| 0 | 0 | 0 |
|

[2016-06-30 13:42] tfausak commented on #23
Still working on this one.

[2016-07-03 18:58] danielsamuels opened #38 "Invalid Steam ID being output"
I'll preface this by saying that it could just be the replay itself that is wrong, but I thought you'd be interested none-the-less.

On [this](https://www.rocketleaguereplays.com/replays/c9bd8011-4967-696b-a792-e8bd905f8ada/) replay, the player with the name 'Ahad' has a Steam ID set to a value of 24488897, which is not a valid Steam ID.

[code]

Is this a replay error, or a parser issue?

[2016-07-04 18:40] tfausak commented on #38
Seems like a bug. Do you know what the Steam ID should be?

[2016-07-05 11:37] danielsamuels opened #39 "Don't know how to read property "TAGame.PRI_TA:PawnType""
I've been seeing this one fairly often lately. Here are some example replays:
- [RLCS GS2: TFD vs SA 1
  ](https://www.rocketleaguereplays.com/replays/dcb3a6b9-4a9d-be46-fde5-eaa9b012f6c8/)
- [RLCS GS2: TFD vs SA 2
  ](https://www.rocketleaguereplays.com/replays/a31364f6-4d26-79ba-08a0-29ba59cbb42d/)
- [RLCS GS2: TFD vs SA 3
  ](https://www.rocketleaguereplays.com/replays/8933e837-4c2d-8836-5889-1

[2016-07-05 12:41] tfausak commented on #39
Ah, those lovely Haskell "stack traces". I'll take a look at this soon.

[2016-07-05 19:27] tfausak commented on #38
[SteamIDs](https://developer.valvesoftware.com/wiki/SteamID) are more complicated than I assumed. They are serialized like this:
- 8 bits of the universe
- 4 bits of the type
- 20 bits of the instance
- 32 bits of the actual ID

[2016-07-05 21:26] tfausak commented on #39
Not that it's any more useful, but here's a complete stack trace:

[code]

[2016-07-05 21:32] #39 closed, assigned to tfausak

[2016-07-06 13:22] #38 closed, assigned to nobody

[2016-07-13 13:20] tfausak commented on #37
Problems like this make me wonder why the class property map is even dynamic. I could probably come up with a static class property map. Then all I would need to do is map the class IDs in the stream to my static map.

Regardless, it should be possible to make sense of this data because Rocket League does it. It wouldn't make any sense to special case things because then why would you have the cla

[2016-07-13 14:05] tfausak commented on #37
Found a couple other bad ones:
[7749A76B4857F7404DFD97922FBF354B.zip](https://github.com/tfausak/octane/files/361617/7749A76B4857F7404DFD97922FBF354B.zip)
[D36FFFC2442CC0F56D40088963BE3EA3.zip](https://github.com/tfausak/octane/files/361618/D36FFFC2442CC0F56D40088963BE3EA3.zip)

[2016-07-16 16:56] tfausak commented on #37
A couple more:
[1EF90FCC4F719F606A5327B3CDD782A4.zip](https://github.com/tfausak/octane/files/367390/1EF90FCC4F719F606A5327B3CDD782A4.zip)
[CA983EEC45ACAF5167E03083EF52580A.zip](https://github.com/tfausak/octane/files/367391/CA983EEC45ACAF5167E03083EF52580A.zip)

[2016-07-17 21:15] tfausak opened #41 "Can't parse snow day or hoops replays"
Game modes:
- Snow day (hockey): [037C827740DFB186F2B8CBBFE2E48134.zip](https://github.com/tfausak/octane/files/368135/037C827740DFB186F2B8CBBFE2E48134.zip)
- Hoops: [9935E6944FF59CAC983AC5A98E72D12B.zip](https://github.com/tfausak/octane/files/368136/9935E6944FF59CAC983AC5A98E72D12B.zip)

[2016-07-17 21:51] tfausak commented on #41
As far as I can tell, the game mode has always been two bits. See [these lines](https://github.com/tfausak/octane/blob/9cb1c39f1a929fb6d12299ce619084945b653874/library/Octane/Parser.hs#L370-L372) from version 0.5.3, which I released on May 30.

If I change my parser to consume an entire byte instead of only 2 bits, it appears to work. This could be something annoying like #27 where I have to check

[2016-07-17 22:05] tfausak commented on #41
Unfortunately it looks like I'll have to check the replay version to parse game modes. How annoying.

Here's an old replay with a custom game mode that can currently be parsed correctly:
[00A8CC6748FEEC722E4262BAB4E47521.zip](https://github.com/tfausak/octane/files/368156/00A8CC6748FEEC722E4262BAB4E47521.zip)

[2016-07-17 22:37] tfausak commented on #37
Those last 4 are a different problem: #41.

[2016-07-17 22:44] #41 closed, assigned to tfausak

[2016-07-20 19:23] tfausak commented on #37
I've been thinking more about this. I want to mess with the class property map in an existing replay. My theory is that Rocket League would still be able to play it.

I think that because it doesn't really make sense to change the class hierarchy _at runtime_ via some metadata in the replay file. I assume I can't just say: "Nope, cars aren't actors. They're just objects. Deal with it."

Furthermor

[2016-07-22 03:08] tfausak commented on #37
I was wrong. The class property map is essential. If you remove it entirely, the game crashes when you try to watch the replay. If you change every class to say its parent cache ID is 0, it gets in this weird state where nothing really works.

[replays.zip](https://github.com/tfausak/octane/files/377386/replays.zip)

![20160721220501_1](https://cloud.githubusercontent.com/assets/408753/17045507/6a

[2016-07-22 03:20] tfausak opened #43 "Cannot parse replay"
Not sure what's wrong with this one. It's not like #37 or #41.

[D8A4A29C4B7AF09437B490B93C88EE0B.zip](https://github.com/tfausak/octane/files/377396/D8A4A29C4B7AF09437B490B93C88EE0B.zip)

[2016-07-22 13:50] tfausak commented on #43
Turns out this is the same as #37.

[code]

[2016-07-22 13:50] #43 closed, assigned to nobody

[2016-07-22 13:51] tfausak commented on #37
Got another one: #43 - [replay file](https://github.com/tfausak/octane/files/377396/D8A4A29C4B7AF09437B490B93C88EE0B.zip)

[2016-07-25 13:03] tfausak commented on #37
Another one: [FB47C12841B87DBA9AEE2FBCF9215C1F.zip](https://github.com/tfausak/octane/files/381542/FB47C12841B87DBA9AEE2FBCF9215C1F.zip)

[2016-08-19 14:58] tfausak opened #46 "Add version flag to executable"
It would be nice to run `octane --version` to get the version that you're using.

[2016-08-23 12:37] #46 closed, assigned to tfausak

[2016-08-23 18:12] danielsamuels opened #48 "Serialization change coming in a future patch"
Just had an email from a Rocket League developer, thought you might also appreciate a heads-up:

[2016-08-23 18:37] tfausak commented on #48
Thanks for the heads up! Sounds like [`getNewReplication`](https://github.com/tfausak/octane/blob/0.14.0/library/Octane/Utility/Parser.hs#L217) would have to change. Do you know what format the name index will be in? I would guess either a 32-bit unsigned integer or a compressed unsigned integer.

I'm assuming that the "names" are what I call [`replayWithoutFramesNames`](https://github.com/tfausak

[2016-08-23 18:43] tfausak commented on #37
Octane still doesn't handle these correctly. I have several thousand replays on my machine. Only 3 have this problem. @jjbott's parser manually works around this problem: https://github.com/jjbott/RocketLeagueReplayParser/commit/6cba0e7085aeaf7c443286c02a96eddea94f2192

[2016-08-23 18:44] danielsamuels commented on #48
Unfortunately I don't have any further information than that email and I don't know enough (any) Haskell to be of any use here either 😞

[2016-08-23 18:53] tfausak commented on #48
No worries! Sounds like I've got some time to make the change.

[2016-08-23 19:39] rustyfausak commented on #48
Hm, has any data ever been in the `names` meta? I wonder what the goal of a change like this is.. Doesn't seem to be related to rumble mode since that is slated to release in Sept and 3+ patches from now is probably further than that. Maybe RLCS / replay / spectator something? Maybe more information about custom items?

[2016-08-23 20:12] tfausak commented on #48
Yeah, some replays have names. For example, [this replay](https://www.rocketleaguereplays.com/replays/63177ef9-4636-a228-12e7-3c8fbc971b93/) has these names:

[code]

I don't output the names from the `octane` executable because I don't know of anything that uses them. I'm not even really sure what they mean.

[2016-08-23 20:31] danielsamuels commented on #48
Aren't they player titles? 0 and 2 are, and I imagine 1, 3 and 4 are the item-related titles?

[2016-08-24 00:48] tfausak commented on #48
They're definitely not all player titles. And it's weird that there are no spaces in the names.

I counted all the names from my 4k local replays:

| Name | Count |
| --- | --- |
| Active | 1614 |
| Countdown | 1614 |
| ESLMonthlyChampion | 1 |
| ESLMonthlyElite | 2 |
| PostGoalScored | 1413 |
| Season2GrandChampion | 22 |
| UtopiaStadium_Dusk_p | 10 |
| Utopiastadium_p | 6 |
| XP | 3432 |

[2016-08-25 13:48] tfausak opened #49 "Split property constructors"
https://github.com/tfausak/octane/blob/b362b84/library/Octane/Type/Property.hs#L24

[2016-08-26 03:02] #49 closed, assigned to tfausak

[2016-08-26 12:37] tfausak opened #51 "Split value constructors"
https://github.com/tfausak/octane/blob/f17537c/library/Octane/Type/Value.hs#L21

[2016-08-29 14:58] tfausak commented on #48
I'm closing this because it's not actionable. When the replay file format changes, I'll update the parser to handle it.

[2016-08-29 14:58] #48 closed, assigned to nobody

[2016-08-29 15:03] tfausak commented on #51
See also #49.

[2016-08-29 15:37] #51 closed, assigned to tfausak

[2016-08-29 16:24] tfausak opened #53 "Format source with hindent"
Currently the only problem is doctest. hindent smashes comment blocks together. doctest doesn't like that.

[code]

[code]

doctest doesn't like a lot of stuff. I'm beginning to think I should ditch it for a normal test suite.

[2016-08-30 14:48] tfausak opened #54 "Remove doctests"
Although I'll be sad to see them go, the doctests cause too many problems. They broke the build (#35) because they don't respect the Cabal file, it's tedious to configure their imports and extensions, and they take forever to run (1b3da2a64763dd3c166172eec2bf4f1414990477).

Edit: Oh, and they break automatic formatting (#53).

[2016-08-30 15:50] #54 closed, assigned to tfausak

[2016-08-30 19:23] #53 closed, assigned to tfausak

[2016-08-31 23:36] tfausak commented on #22
For the time being, the names can be empty. That's only true until the changes mentioned in #48 land.

[2016-09-03 00:53] tfausak commented on #22
To generate a class property map, I need a mapping from classes to their superclasses, as well as a mapping from classes to their properties. For example:

[code]

This looks to be more annoying than I hoped to get out of the current setup.

[2016-09-03 14:45] tfausak commented on #22
Actually I may not need either of those things. This is all conjecture, but:

For the properties, I can probably get away with having only the ones that show up in the replications. No reason to add properties to the class property map if they never appear in the replay.

For the superclasses, I may not need them at all. Rocket League uses them to build a complete list of properties for each class

[2016-09-04 23:39] #22 closed, assigned to tfausak

[2016-09-04 23:39] #23 closed, assigned to tfausak

[2016-09-04 23:41] tfausak opened #57 "Fix replay generation"
I spent some time today putting all the pieces in place for replay generation. Everything is there now, but it doesn't work.

[2016-09-04 23:46] tfausak commented on #57
The first problem is that I'm getting "Negative exponent" errors. There are only a couple places that use exponentiation: compressed words and vectors. So I changed anything of the form `x ^ y` to `x ^ if y < 0 then trace "..." 0 else y`. That revealed some troubling stuff.

[code]

It's possible that those vectors are legit, but the compressed words almost certainly aren't.

[2016-09-05 02:13] tfausak commented on #57
On the way in, there are a lot of vectors with `bias = 2` and `dx = dy = dz = 2`. On the way out, I try to write them with `bias = dx = dy = dz = 0`, which doesn't work. I think the bias has to be at least 2.

For the other crazy high values, I'm guessing that I'm underflowing a `Word` somewhere.

[2016-09-05 03:06] tfausak commented on #57
Yup. If an integer vector has any negative components, they cause underflow when I compute the deltas. `fromIntegral` got me good!

[code]

[2016-09-05 03:23] tfausak commented on #57
Here's how that vector looks on the way in:

[code]

After correcting for the underflow, this is what it looks like on the way out:

[code]

Note that `dy` is greater than `maxValue`, and `maxBits` and `numBits` are both too small by 1. So I did the math wrong somewhere.

[2016-09-05 04:54] tfausak commented on #57
This is closer to working now. The next step is making sure that I can read the replay file I write. I currently can't do that. That means there are problems somewhere in the serialization process.

Once I can do _that_, I need to make sure the result from reading the replay I just wrote matches the original replay. If it doesn't, that means some values changed when they shouldn't have.

[2016-09-07 03:23] tfausak commented on #57
I'm trying to write property-based tests for all the conversions, but it's getting annoying to encode the invariants. Stuff like making sure new replications don't have any values, existing replications don't have any initializations, and so on. Arguably this is a problem with my data types that they even allow it, but it hasn't really mattered so far. Nobody's building these up by hand.

[2016-09-07 03:33] tfausak commented on #57
Here's a "real world" test I'm trying.

[code]

It fails, of course.

[code]

Here's the file I tried with: [input-replay.zip](https://github.com/tfausak/octane/files/458219/input-replay.zip)

[2016-09-07 03:34] tfausak commented on #57
It's worth noting that this isn't true. In particular, optimizing the frames causes the output replay to be different than the input replay. If I ran it through _again_, it should be at a steady state. Other than that, the only real way to test is to load it in Rocket League and see if it looks the same. Heck, if it even _loads_ that will be good.

[2016-09-08 23:40] tfausak opened #58 "Support version 1.22"
http://www.rocketleaguegame.com/news/2016/09/patch-notes-v1-22/

[2016-09-08 23:52] tfausak commented on #58
Reading through the patch notes, these are the things that I think might require some work:
- Parsing macOS replays.
- Parsing Steam OS replays.
- Parsing rumble mode replays.
- Make sure the "new" colors still use the same old values behind the scenes.
- Adding new products, including antennas, toppers, painted items, and arenas. This shouldn't be a show stopper because the IDs will work just fin

[2016-09-08 23:56] tfausak commented on #58
Off to a great start! I played a short match on the new "DFH Stadium (Stormy)" map and saved the replay. When I tried to parse it, I got this error:

[code]

[9938DF284ACDAADE0F15028012E76A78.zip](https://github.com/tfausak/octane/files/462918/9938DF284ACDAADE0F15028012E76A78.zip)

[2016-09-09 00:02] tfausak commented on #58
Same deal on "Urban Central (Dawn)" ([F6DD03F24C7548ABDA00FB902A42767E.zip](https://github.com/tfausak/octane/files/462924/F6DD03F24C7548ABDA00FB902A42767E.zip)) and "Octagon" ([DEC0FEE5442024DF44BED1A8A7C7CE42.zip](https://github.com/tfausak/octane/files/462925/DEC0FEE5442024DF44BED1A8A7C7CE42.zip)). Not surprising.

[2016-09-09 00:10] tfausak commented on #58
I got a different error from a rumble replay.

[code]

[1205D96C4D819800927791820096CD49.zip](https://github.com/tfausak/octane/files/462938/1205D96C4D819800927791820096CD49.zip)

[2016-09-09 00:15] tfausak commented on #58
There are actually more colors now.

![colors](https://cloud.githubusercontent.com/assets/408753/18371273/9f9eadfe-75f8-11e6-8a56-3e37c3d624a8.jpg)

[2016-09-09 00:25] tfausak commented on #58
I think `TAGame.GameEvent_TA:MatchTypeClass` should be interpreted as a flagged int. That gets me to the next property, `TAGame.PRI_TA:ClientLoadoutsOnline`. The property name looks almost exactly the same as `TAGame.PRI_TA:ClientLoadoutOnline`, which has "loadout" instead of "loadouts". Parsing that as an online loadout does not work. I doubt it's any of the other types either.

[2016-09-09 00:44] tfausak commented on #58
This is going to be... intricate. The rumble mode introduces a lot of new properties and property types. Those are going to take a while to figure out.

[2016-09-09 12:14] tfausak commented on #58
The amazing @jjbott has already figured out a lot of this:
- https://github.com/jjbott/RocketLeagueReplayParser/commit/1c385d6577077dad4991957e76a0bc2bf6cbd6bf
- https://github.com/jjbott/RocketLeagueReplayParser/commit/ba72e5afe475f28d7232cb4b7076ffe9ae8bcd0e

[2016-09-09 12:41] tfausak commented on #58
Here is a replay I saved on macOS: [00070009003B0009002300DE5E69F59F.replay.zip](https://github.com/tfausak/octane/files/463948/00070009003B0009002300DE5E69F59F.replay.zip)

I was afraid that there might be some byte-order problems, but it looks like there aren't any. It fails in the same way as the Windows replays.

And for future reference, the replays are saved in `~/Library/Application Support

[2016-09-09 13:52] jjbott commented on #58
Darn right I did. :P

I know the start of WeldInfo is:
- Bit
- 32 bit id (actor id probably) (might be swapped with the above, but I don't think so)
- 3d vector (offset)
- 32 bit float (mass I think, always(?) 0.1 with normal mutators)

...then who knows what. Probably a rotation next, but any random clump of bits will look like a valid rotation vector. I have a couple test replays where the rotat

[2016-09-10 17:04] tfausak commented on #37
This is _much_ more common as of patch 1.22 (#58). Since I don't know how else to interpret the class property map, I'll have to manually work around it.

[2016-09-10 17:21] #58 closed, assigned to tfausak

[2016-09-10 22:39] #37 closed, assigned to tfausak

[2016-09-11 21:00] tfausak commented on #58
For posterity: On my Debian machine, replays ended up in `~/.local/share/Rocket League/TAGame/Demos`. Here's a sample demo file from the Linux client: [42CFFC3011E678602A6E819636F1A041.replay.gz](https://github.com/tfausak/octane/files/466234/42CFFC3011E678602A6E819636F1A041.replay.gz)

[2016-09-14 16:13] naphthalene commented on #57
You are a hero for figuring a lot of this stuff out. I'm going to read your code and see how I can help.

[2016-09-15 02:12] tfausak commented on #57
Thanks! I can't take all the credit. Both @jjbott and @danielsamuels did a lot of the work.

Let me know if I can help explain any parts of the code.

[2016-09-15 10:14] snoyberg opened #62 "Test suite build failure with QuickCheck 2.9"
[code]

[2016-09-15 13:10] tfausak commented on #62
Hah, orphan instances strike again!

[2016-09-15 13:21] tfausak commented on #62
Fixed by 8dcb1194f587cebc175b0de95ca85e3c8740b7e8.

[2016-09-15 13:21] #62 closed, assigned to tfausak

[2016-09-15 13:22] tfausak commented on #57
Unfortunately not actually fixed yet. I can round trip replays through my library, but Rocket League crashes when it tries to open replays I created.

[2016-09-15 17:19] snoyberg commented on #62
Is this released on Hackage?

[2016-09-15 17:21] tfausak commented on #62
Oops, no. I'll cut a new release.

[2016-09-16 13:48] tfausak commented on #57
I recently learned that Rocket League keeps logs. How I've made it this far without knowing that is incredible. They end up in `%UserProfile%\Documents\My Games\Rocket League\TAGame\Logs` on Windows. Fortunately it logs even when it crashes, so I may be able to figure out how to fix replay generation. Here's what the logs say when I try to load one of my replays:

[code]

As expected, it has to do

[2016-09-18 10:30] danielsamuels opened #64 "Don't know how to read property "TAGame.GameEvent_TA:bCanVoteToForfeit""
https://media.rocketleaguereplays.com/uploads/replay_files/000D0011001F00090007036C5166B13A.replay

[code]

Interestingly, this replay doesn't have a valid UUID4 ID: `000D0011-001F-0009-0007-036C5166B13A`

[2016-09-18 10:40] danielsamuels commented on #64
Just noticed that you fixed this a couple of days ago in cdf4ab87977ea4767b327ea780fb857692b34837. Do you know when you plan to make a new release?

[2016-09-18 13:55] tfausak commented on #64
Thanks for the reminder! I just released [0.16.3](https://github.com/tfausak/octane/releases/tag/0.16.3). The binaries should be available in less than an hour.

[2016-09-18 13:55] #64 closed, assigned to tfausak

[2016-09-20 01:05] tfausak opened #65 "Allow inputting JSON and outputting a replay file"
Once #57 gets fixed, it would be nice to hand Octane some JSON and have it spit out a replay file. That way you could do `octane < original.replay > original.json`, then modify that JSON file, then do `octane < modified.json > modified.replay`. No meddling in Haskell necessary.

[2016-09-21 21:22] danielsamuels opened #66 "Attempting to understand Xbox IDs"
Hello,

I've been looking to do a little more with non-steam profiles, and more specifically with Xbox profiles.  I'm looking at the replay data for [this replay](https://www.rocketleaguereplays.com/replays/bcdd1913-497a-0929-4415-2a918b18e60b/) and I'm seeing Xbox data which looks like this:

[code]

Looking at the data across [a wider dataset](https://gist.github.com/danielsamuels/a6a83378f168b3

[2016-09-21 22:37] danielsamuels commented on #66
I've done some research into this.  These values are known as XUIDs (Xbox Account User ID).  Using the API from xboxapi.com I was able to convert this particular XUID into the gamertag of 'Roxoxx', looking at the page on RLR you can see that this value appears to be correct.  One thing I'm now wondering is if the player name is always the gamer tag - if it is, then I don't need to do any conversio

[2016-09-21 22:37] #66 closed, assigned to nobody

[2016-09-21 23:09] tfausak commented on #66
:+1:

[2016-11-03 15:56] tfausak opened #67 "Switch to Rattletrap"
Octane should use [Rattletrap](https://github.com/tfausak/rattletrap) for decoding and encoding replays. That way Octane can provide a nice, high-level interface over the raw data that Rattletrap spits out.

[2016-11-05 13:25] tfausak commented on #65
This is not something I want to support. Octane discards information necessary to generate a replay, such as the class property map.

If you want to do this, use [Rattletrap](https://github.com/tfausak/rattletrap). The interface isn't as nice, but it works.

[2016-11-05 13:25] #65 closed, assigned to nobody

[2016-11-05 13:28] tfausak commented on #57
I am not going to fix this. If you want to write replays, use [Rattletrap](https://github.com/tfausak/rattletrap).

[2016-11-05 13:28] #57 closed, assigned to tfausak

[2016-11-13 23:16] #67 closed, assigned to tfausak

[2016-11-26 00:08] ghost opened #69 "Don't know how to read property "TAGame.GameEvent_Soccar_TA:GameTime""
Edit: worth noting that this is a 20 minute replay!

Replay file triggering the error:
[1v1_steerthrottleonly.replay.zip](https://github.com/tfausak/octane/files/613964/1v1_steerthrottleonly.replay.zip)
The replay was recorded on the current build in Linux, using the latest release of Octane.
Full error:
`Data.Binary.Get.runGet at position 199: Don't know how to read property "TAGame.GameEvent_Soc

[2016-11-26 02:56] tfausak commented on #69
Thanks for the report! Sorry Octane didn't work for this replay. This should be a simple fix.

[2016-11-26 03:07] tfausak commented on #69
TIL you can close issues across repositories. This isn't actually fixed in Octane yet.

[2016-11-26 03:27] #69 closed, assigned to tfausak

[2016-12-08 00:29] jonoomph opened #70 "New version of Rocket League breaks octane.exe"
Just recorded a replay file with the new version of Rocket League, and get this error from octane.exe:

`Data.Binary.Get.runGet at position 161: could not get attribute map for CompressedWord {compressedWordLimit = 1023, compressedWordValue = 896}\nCallStack (from HasCallStack):\n  error, called at libraries\\binary\\src\\Data\\Binary\\Get.hs:342:5 in binary-0.8.3.0:Data.Binary.Get\n`

[2016-12-08 00:29] jonoomph commented on #70
Here is the replay file
[15ECDB254B458C7D39BB2CA182C6F5F6.zip](https://github.com/tfausak/octane/files/638096/15ECDB254B458C7D39BB2CA182C6F5F6.zip)

[2016-12-08 00:49] tfausak commented on #70
Thanks for reporting this! Unfortunately Psyonix changed the replay format slightly in the latest patch (version 1.25, aka "Starbase ARC"). These days Octane is a wrapper around Rattletrap, which does all the hard work. I'm trying to figure out how to parse these new replays over here: https://github.com/tfausak/rattletrap/issues/19

[2016-12-09 09:27] danielsamuels commented on #70
With rattletrap now working, would it be possible to get a new Octane release please?

[2016-12-09 13:13] tfausak commented on #70
Absolutely! It's the first thing on my to-do list today.

[2016-12-09 13:14] danielsamuels commented on #70
Awesome, thank you!

[2016-12-09 13:35] tfausak commented on #70
This should be fixed by 87f9c1b44f0d2ad178b92e0c5179f1d2e9103e1e. Once the build completes I'll release a new version.

[2016-12-09 13:45] tfausak commented on #70
Should be available in [0.18.0](https://github.com/tfausak/octane/releases/tag/0.18.0) once the builds finish. Thanks again for reporting this!

[2016-12-09 13:45] #70 closed, assigned to tfausak

[2017-01-05 21:06] FuckTheJets opened #71 "Closed"
Closed

[2017-01-05 21:08] #71 closed, assigned to nobody

[2017-01-05 21:09] tfausak commented on #71
Unfortunately not. Octane removes too much information from the replay to rebuild the replay from it. If you want to do this, consider using [Rattletrap](https://github.com/tfausak/rattletrap). Its JSON is not as nice, but it can parse and generate replays.

[2017-02-01 06:38] mrcarlosrendon opened #72 "PlayerStats decodes wrong in this replay"
[This replay](https://s3-us-west-2.amazonaws.com/turbo-carnival/replays/46A1C3FD4E6E72FE976373AD8A706718.replay)

Produces the following PlayerStats includes only 1 player, expecting one more.

[code]

Interestingly the goals decode with the other player
[code]

[2017-02-01 13:23] tfausak commented on #72
I think Octane is doing the right thing here and the replay itself is messed up. I loaded up this replay in game and the `Atomicgeko76` player disappeared part way through the replay. Can you try watching this replay in-game to see if anything is out of place?

[2017-02-01 16:13] mrcarlosrendon commented on #72
Agree with you. Should have watched it more closely before posting, something is definitely messed up in the replay itself.

[2017-02-01 16:13] #72 closed, assigned to tfausak

[2017-04-30 11:42] Buszmen opened #73 "Mixed mutators replay error"
I was trying to figure out all mutators and I created a monster replay and mixed all mutators I could. As a result I get an error:
[code]
Windows build 0.18.3
Same for linux build 0.18.2.

[Link to replay](https://www.dropbox.com/s/idhhstxsxktkh6i/520E1BFF468CF6C3C48D1EA85D9C7909.replay?dl=0)

[2017-04-30 12:15] tfausak commented on #73
Thanks for reporting this! The unknown attribute (`TAGame.VehiclePickup_TA:bNoPickup`) starts with a "b", which means its a boolean attribute. Hopefully this will be an easy fix.

[2017-04-30 17:51] tfausak commented on #73
Fixed by 8ebf7ed0252e8cc2e662ff2813af01a8160ade10 and released as [version 0.19.0](https://github.com/tfausak/octane/releases/tag/0.19.0), which should be available just as soon as the build finishes.

[2017-04-30 18:02] #73 closed, assigned to tfausak

[2017-10-07 16:00] miesmacher opened #74 "After the new RL Update Error with Octane.exe on Windows"
C:\rl_proj>octane.exe < C67C590740452762CF72C89DC13202B2.replay > test.json
octane.exe: Data.Binary.Get.runGet at position 1116: could not get name for index Word32 {word32Value = 562168010}
CallStack (from HasCallStack):
  error, called at libraries\binary\src\Data\Binary\Get.hs:342:5 in binary-0.8.3.0:Data.Binary.Get

[2017-10-07 18:47] tfausak commented on #74
Ah, yup. Patch 1.37 changed some stuff. I updated [Rattletrap](https://github.com/tfausak/rattletrap), which Octane uses, but haven't updated Octane itself yet. I'll take a look soon, but try using Rattletrap in the meantime.

[2017-10-23 23:55] tfausak commented on #74
Have you had any luck using Rattletrap? At this point rocketleaguereplays.com has moved off of Octane, so I'd like to deprecate it.

[2017-10-24 10:21] miesmacher commented on #74
Hey, i used Rattletrap for Windows but it seems like that the output json has a different format than the one from octane. I was to lazy to inspect the json and change my code while hoping octane gets updated.

If you discontinue octance i think i have to use  rattletrap.

[2017-10-24 13:11] tfausak commented on #74
Yes, Rattletrap's output is a little different than Octane's.

I'll try to upgrade Octane to support the latest patch.

[2017-10-24 13:34] #74 closed, assigned to tfausak